
	* {
        margin: 0;
        padding: 10;
        /*text-decoration: none;*/
        box-sizing: border-box;
        -webkit-tap-highlight-color:rgba(0,0,0,0);
        -webkit-text-size-adjust:none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    .titulogin
    {
      margin: 0 0 10px;
      color: dimgrey;
      background-color: rgba(255, 255, 255, 0.18);
      border-radius: 6px;
    }
      body {
        margin: 0;
        padding: 0;
        background: #f6f6f6;
        /*font-family: 'Poppins', sans-serif;*/
        overflow-x: hidden;
        height: 100vh;
        margin: auto;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        flex-flow: row wrap;
        -ms-flex-flow: row wrap;
      }
  
      img {
          max-width: 100%;
      }
  
      
      
  
      a {
          text-decoration: none;
          color: #257aa6;
      }
  
      p {
          font-size: 13px;
          color: #333;
          line-height: 2;
      }
          .light {
              text-align: right;
              color: #fff;
          }
              .light a {
                  color: #fff;
              }
  
      .bg {
          width: 400px;
          height: 550px;
          background: #257aa6;
          position: absolute;
          top: -5em;
          left: 0;
          right: 0;
          margin: auto;
          background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-blue-creative-gradient-decoration-image_11175.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          -webkit-clip-path: ellipse(69% 46% at 48% 46%);
          clip-path: ellipse(69% 46% at 48% 46%);
      }
  
      form {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          text-align: center;
          padding: 2em;
      }
  
      header {
          width: 220px;
          height: 220px;
          margin: em auto;
        }
  
      form input {
          width: 100%;
          padding: 13px 15px;
          margin: 0.7em auto;
          border-radius: 100px;
          
          border: 1px solid #dbdbdb;
          
          /*font-family: 'Poppins', sans-serif;*/
          outline: none;
          color: gray;
      }
      input::placeholder {
          color: gray;
          font-size: 13px;
      }
  
      .inputs {
          margin-top: -4em;
      }
  
      footer {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 2em;
          text-align: center;
      }
  
      button {
          width: 100%;
          padding: 13px 15px;
          border-radius: 100px;
          border: none;
          background: #257aa6;
          font-family: 'Poppins', sans-serif;
          outline: none;
          color: #fff;
      }
      
      @media screen and (max-width: 640px) {
              .app {
                  width: 100%;
                  height: 100vh;
                  border-radius: 0;
              }
  
              .bg {
                  top: -7em;
                  width: 450px;
                  height: 95vh;
              }
              header {
                  width: 90%;
                  height: 250px;
              }
              .inputs {
                  margin: 0;
              }
              input, button {
                  padding: 18px 15px;
              }
          }
  
  
  