<!--ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; ">
		<strong>GAD CANTÓN MANTA</strong>
    </ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
  <div class="ion-padding">
  	<div class="bg"></div>
  	<form>
			<header>
				<img src="http://manta.gob.ec/web/assets/img/logo/logo.png">
				<i>Por favor ingrese sus credenciales para empezar.</i>
			</header>

			<div class="inputs">
				<input [(ngModel)]="username" type="text" name="username" placeholder="Nombre de Usuario">
				<input [(ngModel)]="pass" type="password" name="pass" placeholder="Contraseña">
			</div>
		</form>

		<footer>
			<button (click)="go()">Ingresar</button>
			<p>No tienes Cuenta? <a href="#">Registrese</a></p>
		</footer>
  	
  
    
  </div>
</ion-content>
