<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img class="centerimg" src="http://manta.gob.ec/web/assets/img/logo/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<div class="mainbk">

  <div class="tabs-container">
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> This is tab</a></li>
    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">This is second tab</a></li>
    </ul>
    <div class="tab-content">
    <div id="tab-1" class="tab-pane active">
      <div class="panel-body">
        Hola
      </div>
    </div>
    <!-- Segundo Tab-->
      <div id="tab-2" class="tab-pane">
      <div class="panel-body">
        Hola2
      </div>
    </div>
  
  </div>
  </div>
  <ion-row>
    <ion-col><h3>OBRAS</h3></ion-col>
  </ion-row>
  <ion-row>  
    <ion-col>
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-success pull-right">Mayo 2019</span>
              <h5>Terminadas</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">200</h1>
              <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
              <small>Total Obras</small>
            </div>
          </div>
        </ion-col>
        
        </ion-row>
<ion-grid>
  <ion-row>  
    <ion-col>
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!--<span class="label label-info pull-right">Todas</span>-->
          <h5>En Ejecución</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">80</h1>
          <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
          <small>En ejecución</small>
        </div>
      </div>
    </ion-col>
    <ion-col>      
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <!--span class="label label-success pull-right">Monthly</span>-->
              <h5>Por ejecutar</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">386,200</h1>
              <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
              <small>Total Obras</small>
            </div>
          </div>
        </ion-col>        
        </ion-row>
<ion-row>
  <ion-col>
    <h3>MONTOS DE INVERSIÓN DE OBRAS  </h3>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <span class="label label-success pull-right">Mayo 2019</span>
        <h5>Terminadas</h5>
      </div>
      <div class="ibox-content">
        <h1 class="no-margins">386,200</h1>
        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
        <small>Total views</small>
      </div>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</div>
</ion-content>
